[submodule "Better Testing with Given-When-Then"]
	path = Better Testing with Given-When-Then
	url = git://github.com/jimweirich/presentation-given.git
[submodule "Building External DSLs for Fun and Profit"]
	path = Building External DSLs for Fun and Profit
	url = git://github.com/jbogard/presentations.git
[submodule "Functional Testing with ASP.NET MVC"]
	path = Functional Testing with ASP.NET MVC
	url = git://github.com/jbogard/presentations.git
[submodule "Vital Testing"]
	path = Vital Testing
	url = git://github.com/jbogard/presentations.git
[submodule "Building, Deploying, and Scaling MongoDB"]
	path = Building, Deploying, and Scaling MongoDB
	url = git://github.com/sridharn/codemash_2013.git
[submodule "How to Build a Cloud App in an Afternoon with Parse"]
	path = How to Build a Cloud App in an Afternoon with Parse
	url = git://github.com/willdages/CodeMashQuotes-Demo.git
[submodule "Full Stack Integration Testing with Node.js"]
	path = Full Stack Integration Testing with Node.js
	url = git://github.com/theycallmeswift/full-stack-testing-with-node.git
[submodule "Using Images in iOS/Code"]
	path = Using Images in iOS/Code
	url = git://github.com/SlaunchaMan/iOS-image-examples.git
